<div class=" card shadow-effect ">
    <div class="card-body">
        <div class="text-center mt-2 mb-5">
            <h3>SUSCRIBETE</h3>
            <P class="m-auto subs-text">Para tener las mejores ofertas desde la pagina y conocer mas de nosotros sucribete a nuestra pagina</P>
            
            <form action="" class="form-inline row mb-5 mt-5">

                <div class="form-froup-group col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder=" Tu Nombre ">
                </div>
                <div class="form-froup-group col-md-5 mt-1">
                    <input type="email" class="form-control shadow-effect" placeholder=" Correo Electronico ">
                </div>

                <div class="col-md-1">
                    <button class="btn btn-info btn-block btn-sub">Suscribete</button>
                </div>

            </form>

        </div>
    </div>
</div>