<!-- Encabezado con información general -->
<div class="bg-theme p-5">
    <div class="container">
        <h1 class="text-white">Rutas Comerciales</h1>
        <p class="text-white">Descubre nuestras emocionantes rutas comerciales y oportunidades de negocio.</p>
    </div>
</div>

<!-- Contenido principal -->
<div class="container mt-5 mb-5">
    <div class="row">
        <!-- Tarjeta de ruta comercial -->
        <div class="col-md-4 mb-3">
            <div class="card shadow">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509377!2d144.95373531550464!3d-37.81627974202164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d5df1d12345%3A0x1234567890abcdef!2sSomeplace!5e0!3m2!1sen!2sus!4v1234567890123!5m2!1sen!2sus" allowfullscreen></iframe>
                 
                <div class="card-body">
                    <h5 class="card-title">Ruta de Productos</h5>
                    <p class="card-text">Explora nuestra amplia gama de productos y descubre nuevas oportunidades de mercado.</p>
                    <a href="https://www.google.com.mx/maps/place/Tacos+Don+Pancho/@28.6496279,-106.1053137,17z/data=!3m1!4b1!4m6!3m5!1s0x86ea43225bb9716f:0xdd383bec8c22386c!8m2!3d28.6496279!4d-106.1027334!16s%2Fg%2F11cmm_nj5z?entry=ttu" class="btn btn-primary" style="background-color: var(--primary-color); border-color: var(--primary-color);">Explorar</a>
                </div>
            </div>
        </div>
        <!-- Información adicional y promociones -->
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <!-- Información adicional -->
                    <h5 class="card-title">Nuestra Empresa</h5>
                    <p class="card-text">Conoce más sobre nuestra empresa, nuestra visión y valores, y cómo trabajamos para servirte mejor.</p>
                    <a href="about" class="btn btn-primary" style="background-color: var(--primary-color); border-color: var(--primary-color);">Acerca de Nosotros</a>
                    <!-- Promociones -->
                    <div class="mt-5">
                        <h5 class="card-title">Promociones Especiales</h5>
                        <p class="card-text">Descubre nuestras ofertas especiales en productos seleccionados. ¡No te lo pierdas!</p>
                        <a href="post" class="btn btn-primary" style="background-color: var(--primary-color); border-color: var(--primary-color);"> Ver Promociones </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
