

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Jamon Cerrano</h5>
        <p class="card-text">Jamón serrano es un producto curado de alta calidad.</p>
        <a href="post" class="btn btn-primary" style="background-color: var(--primary-color); border-color: var(--primary-color);"> Detalles </a>
    </div>
</div>



<!-- Sección de destacados -->
<section class="featured-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Productos Destacados</h2>
                <p>Descubre nuestros mejores productos</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tocino Ahumado</h5>
                        <p class="card-text">Tocino ahumado con el mejor sabor!!</p>
                        <a href="post" class="btn btn-primary" style="background-color: var(--primary-color); border-color: var(--primary-color);"> Detalles </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Longaniza </h5>
                        <p class="card-text">La longaniza es un embutido fresco </p>
                        <a href="post" class="btn btn-primary" style="background-color: var(--primary-color); border-color: var(--primary-color);"> Detalles </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Chuleta de Cerdo</h5>
                        <p class="card-text">Las chuletas de cerdo son cortes de carne tiernos</p>
                        <a href="post" class="btn btn-primary" style="background-color: var(--primary-color); border-color: var(--primary-color);"> Detalles </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<app-coment-from></app-coment-from>
<app-coment-list></app-coment-list>