<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Términos & Condiciones</h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>¡Gracias por elegir GranPorkys! Antes de utilizar nuestros servicios, por favor, lea detenidamente los siguientes términos y condiciones:</p>

            <h3>1. Aceptación de Términos</h3>
            <p>Al acceder y utilizar nuestro sitio web y servicios, usted acepta estar sujeto a estos términos y condiciones. Si no está de acuerdo con alguna parte de estos términos, por favor no utilice nuestros servicios.</p>

            <h3>2. Uso Apropiado</h3>
            <p>Usted se compromete a utilizar nuestros servicios de manera adecuada y legal. No utilice nuestros servicios para ningún propósito ilegal o no autorizado, ni viole las leyes en su jurisdicción.</p>

            <h3>3. Privacidad</h3>
            <p>Nuestra política de privacidad describe cómo recopilamos, usamos y protegemos su información personal al utilizar nuestros servicios. Al utilizar nuestros servicios, usted acepta nuestro uso de su información de acuerdo con esta política de privacidad.</p>

            <h3>4. Cambios en los Términos</h3>
            <p>GranPorkys se reserva el derecho de actualizar o cambiar estos términos y condiciones en cualquier momento. Se le notificarán los cambios significativos a través de nuestro sitio web. El uso continuado de nuestros servicios después de dichos cambios constituirá su consentimiento a dichos cambios.</p>

            <div class="text-center">
                <a href="#" class="btn btn-primary" style="background-color: var(--primary-color); border-color: var(--primary-color);"> Inicio </a>
            </div>
        </div>
    </div>
</section>
