<nav class=" navbar navbar-expand-lg fixed-top">

    <div class="container">
        <div class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item ml-3"><a href="category" class="nav-link">Rutas Comerciales</a></li>
                <li class="nav-item ml-3"><a href="post" class="nav-link">Tienda</a></li>
                <li class="nav-item ml-3"><a href="preguntas" class="nav-link">Preguntas Frecuentes</a></li>
                <li class="nav-item ml-3"><a href="coments" class="nav-link"> Seccion de Comentarios </a></li>
            </ul>
        </div>
    </div>

</nav>