<div class="card shadow-effect">
    <img src="https://i.blogs.es/95b0b1/como-hacer-tacos-pastor-sin-trompo-drake-bell-mexico/650_1200.jpg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Recipe</small>
        <small class="bg-light text-success text-center ml-3">New</small>
        <small class="bg-light text-info text-center ml-3">views - 112,345</small>

        <h5 class="mt-1">Tacos al Pastor por GranPorkys</h5>
      
            Ingredientes:
            <ul>
                <li>1 kg de carne de cerdo en trozos</li>
                <li>4 chiles guajillo</li>
                <li>2 dientes de ajo</li>
                <li>1/2 taza de jugo de piña</li>
                <li>1 cucharada de vinagre</li>
                <li>1 cucharadita de orégano</li>
                <li>Sal y pimienta al gusto</li>
            </ul>
            Preparación:
            <ol>
                <li>Hidrata los chiles guajillo en agua caliente y licúalos con ajo, jugo de piña, vinagre y orégano.</li>
                <li>Marina la carne de cerdo con la mezcla de chiles durante al menos 4 horas.</li>
                <li>Cocina la carne en una parrilla hasta que esté dorada y jugosa.</li>
                <li>Sirve la carne en tortillas calientes y acompaña con piña, cebolla y cilantro.</li>
            </ol>
        
        <small class="bg-light text-warning text-center ml-3">actualizado - may 25, 2024</small>
    </div>
</div>
