<div class="card shadow-effect">
    <img src="https://i.pinimg.com/564x/f9/a0/42/f9a04274406e5115549b8f26113b5956.jpg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Recipe</small>
        <small class="bg-light text-success text-center ml-3">New</small>
        <small class="bg-light text-info text-center ml-3">views - 75,462</small>

        <h5 class="mt-1">Costillas de Cerdo al Horno con Miel y Mostaza por GranPorkys</h5>
        
            Ingredientes:
            <ul>
                <li>1 rack de costillas de cerdo</li>
                <li>1/4 taza de miel</li>
                <li>2 cucharadas de mostaza Dijon</li>
                <li>2 cucharadas de salsa de soja</li>
                <li>2 dientes de ajo picados</li>
                <li>Sal y pimienta al gusto</li>
            </ul>
            Preparación:
            <ol>
                <li>Prepara la salsa mezclando la miel, mostaza, salsa de soja y ajo picado en un tazón.</li>
                <li>Sazona las costillas con sal y pimienta y barnízalas con la salsa preparada.</li>
                <li>Hornea las costillas en un horno precalentado a 180°C durante 1 hora, barnizando cada 20 minutos.</li>
                <li>Sirve caliente y disfruta de estas deliciosas costillas de cerdo al horno.</li>
            </ol>
        
        <small class="bg-light text-warning text-center ml-3">actualizado - may 25, 2024</small>
    </div>
</div>
