<div class="card shadow-effect">
    <img src="https://i.blogs.es/6425e6/como-hacer-pierna-de-cerdo-al-horno-jugosa-2-/840_560.jpeg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Recipe</small>
        <small class="bg-light text-success text-center ml-3">New</small>
        <small class="bg-light text-info text-center ml-3">views - 152,783</small>

        <h5 class="mt-1">Pierna de Cerdo al Horno por GranPorkys</h5>
        <p>
            1 pierna de cerdo<br>
            1 taza de vino blanco<br>
            4 dientes de ajo picados<br>
            2 ramas de romero<br>
            Sal y pimienta al gusto<br>
            <br>
            Precalienta el horno a 180°C (350°F).<br>
            Mezcla el vino blanco, los ajos picados y el romero.<br>
            Coloca la pierna de cerdo en una bandeja y sazónala con sal y pimienta.<br>
            Vierte la mezcla de vino sobre la pierna de cerdo.<br>
            Hornea durante 2 horas, bañando ocasionalmente con los jugos de cocción.<br>
            Sirve caliente y disfruta de una deliciosa pierna de cerdo al horno.
        </p>
        <small class="bg-light text-warning text-center ml-3">actualizado - may 25, 2024</small>
    </div>
</div>
