<div class="card mb-5 mt-5 pb-5 shadow-effect">
    <div class="card-body">
        <h4 class="mt-3 mb-3">Comentarios (15,256)</h4>

        <div class="comment-box mt-3">
            <h6 class="mb-0">Sandra Pérez</h6>
            <small class="text-danger">Ultima actualización mayo 29, 2024</small>

            <div class="mt-3 mb-3">
                Excelente artículo, me encantó. ¿Hay algún otro similar que recomiendes?
            </div>

            <a href="#" class="mt-1">Contestar</a>
            <a href="#" class="mt-1 ml-3"> Ver respuesta</a>

            <hr>

            <!-- Respuesta relacionada -->
            <div class="comment-box ml-5">
                <h6 class="mb-0">Juan García</h6>
                <small class="text-danger">Ultima actualización mayo 30, 2024</small>

                <div class="mt-3 mb-3">
                    Hola Sandra, gracias por tu comentario. Te recomiendo el artículo "Cómo mejorar tu técnica de cocina en 5 pasos".
                </div>

                <a href="#" class="mt-1">Contestar</a>
                <a href="#" class="mt-1 ml-3"> Ver respuesta</a>

                <hr>
            </div>

        </div>
        <div class="comment-box mt-3">
            <h6 class="mb-0">Luis Rodríguez</h6>
            <small class="text-danger">Ultima actualización mayo 30, 2024</small>

            <div class="mt-3 mb-3">
                Me pareció muy interesante el tema. ¿Cuál es tu opinión sobre la tendencia de cocina vegana?
            </div>

            <a href="#" class="mt-1">Contestar</a>
            <a href="#" class="mt-1 ml-3"> Ver respuesta</a>

            <hr>

            <!-- Respuesta relacionada -->
            <div class="comment-box ml-5">
                <h6 class="mb-0">Ana Martínez</h6>
                <small class="text-danger">Ultima actualización mayo 31, 2024</small>

                <div class="mt-3 mb-3">
                    Hola Luis, gracias por tu comentario. La cocina vegana es una tendencia en crecimiento con muchos beneficios para la salud y el medio ambiente.
                </div>

                <a href="#" class="mt-1">Contestar</a>
                <a href="#" class="mt-1 ml-3"> Ver respuesta</a>

                <hr>
            </div>

        </div>
        <!-- Otros comentarios aquí -->
    </div>
</div>
