<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Publicaciones Destacadas</h2>
                <p class="text-white">Nuestros Mejores Productos</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 d-flex">
                <app-post-card class="post-card"></app-post-card>
            </div>
            <div class="col-lg-3 d-flex">
                <app-post-card2 class="post-card"></app-post-card2>
            </div>
            <div class="col-lg-3 d-flex">
                <app-postr-card3 class="post-card"></app-postr-card3>
            </div>
            <div class="col-lg-3 d-flex">
                <app-postr-card4 class="post-card"></app-postr-card4>
            </div>
        </div>

    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Lo más Nuevo</h2>
        <p>Los nuevos productos de la familia GranPorkys</p>
    </div>
    <div class="row">
        <div class="col-md-3 mt-3 d-flex">
            <app-postr-card5 class="post-card"></app-postr-card5>
        </div>
        <div class="col-md-3 mt-3 d-flex">
            <app-postr-card6 class="post-card"></app-postr-card6>
        </div>
        <div class="col-md-3 mt-3 d-flex">
            <app-postr-card7 class="post-card"></app-postr-card7>
        </div>
        <div class="col-md-3 mt-3 d-flex">
            <app-postr-card8 class="post-card"></app-postr-card8>
        </div>
    </div>

</section>
