<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">

        <h1 class="text-white text-center"> Sobre Nosotros </h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>En GranPorkys, nos apasiona ofrecer productos de alta calidad y sabrosos para satisfacer a nuestros clientes más exigentes. Nuestra historia se remonta a décadas atrás, cuando nuestra familia comenzó a criar cerdos con el compromiso de proporcionar carne fresca y deliciosa a la comunidad local. A lo largo de los años, hemos perfeccionado nuestras técnicas de cría y procesamiento para garantizar que cada producto que sale de nuestras instalaciones cumpla con los más altos estándares de calidad y sabor.

                En GranPorkys, nos enorgullecemos de trabajar en estrecha colaboración con nuestros proveedores y productores locales para asegurarnos de que nuestros productos no solo sean deliciosos, sino también éticamente producidos y sostenibles. Creemos en el respeto por los animales, el medio ambiente y nuestras comunidades, y nos esforzamos por reflejar estos valores en todo lo que hacemos.
                
                Nuestro compromiso con la excelencia se extiende a todos los aspectos de nuestro negocio, desde la selección de ingredientes frescos hasta el proceso de producción y la atención al cliente. Nos esforzamos por ofrecer una experiencia de compra excepcional a cada cliente, brindando un servicio amable y atento y productos que superen sus expectativas en sabor y calidad.
                
                En GranPorkys, no solo vendemos productos; creamos experiencias gastronómicas memorables para ti y tu familia. Ya sea que estés preparando una barbacoa con amigos, cocinando una comida familiar o simplemente disfrutando de un delicioso bocadillo, estamos aquí para ayudarte a hacer que cada momento sea especial con nuestros productos de cerdo frescos, sabrosos y de la más alta calidad.
                
                Únete a nosotros en nuestro viaje mientras continuamos innovando y elevando los estándares en la industria de alimentos y bebidas. Descubre el sabor auténtico y la calidad excepcional de GranPorkys, donde cada bocado es una experiencia deliciosa y gratificante.
                
                ¡Bienvenido a GranPorkys, donde la calidad y el sabor son nuestra pasión!</p>
            
            <div class="text-center ">
                <a href="#" class="btn btn-primary" style="background-color: var(--primary-color); border-color: var(--primary-color);"> Inicio </a>

            </div>
        </div>
    </div>
</section>