<footer>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
            <div class="site-logo">GranPorkys</div>
            <div>
                <ul class="nav justify-content-center">

                    <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="about" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="term-conditions" class="nav-link">Terminos & Condiciones</a></li>
                    <li class="nav-item"><a href="contact" class="nav-link">Contactanos</a></li>

                </ul>
            </div>

            <p class="mb-2 mt-2"> Copyright © 2024 Angular GranPorkys </p>
         </div> 
        </div>
    </div>
</footer>
