<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Deja un comentario</h4>
        <p>Puedes dejar un comentario aqui</p>

        <form action="">
<div class="form-group">
    <label for=""> Nombre </label>
    <input type="text" class="text form-control shadow-effect " placeholder="Ingresa tu nombre">
</div>
<div class="form-group">

    <label for="">comenta</label>
    <textarea cols="30" rows="10" class="form-control shadow-effect " placeholder="Agrega tu comentario aqui"></textarea>
</div>

    <button class="btn btn-info mt-3">Agrega tu comentario</button>
        </form>
    </div>
</div>