
<div class="card shadow-effect">
    <img src="https://editorialtelevisa.brightspotcdn.com/7f/86/ad7d9dbb43038fee1472db86b7fd/costillas-cerdo.jpg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Recipe</small>
        <small class="bg-light text-success text-center ml-3">New</small>
        <small class="bg-light text-info text-center ml-3">views - 98,475</small>

        <h5 class="mt-1">Chuletas de Cerdo en Salsa de Piña por GranPorkys</h5>
        <p>
            Ingredientes:
            <ul>
                <li>4 chuletas de cerdo</li>
                <li>1 taza de jugo de piña</li>
                <li>1/2 taza de piña en trozos</li>
                <li>2 cucharadas de salsa de soja</li>
                <li>2 dientes de ajo picados</li>
                <li>Sal y pimienta al gusto</li>
            </ul>
            Preparación:
            <ol>
                <li>En una sartén grande, cocina las chuletas de cerdo hasta que estén doradas.</li>
                <li>Agrega el ajo picado y cocina por un minuto más.</li>
                <li>Vierte el jugo de piña y la salsa de soja sobre las chuletas.</li>
                <li>Añade los trozos de piña y cocina a fuego lento durante 20 minutos.</li>
                <li>Sazona con sal y pimienta al gusto y sirve caliente.</li>
            </ol>
        
        <small class="bg-light text-warning text-center ml-3">actualizado - may 25, 2024</small>
    </div>
</div>
